@*using Microsoft.AspNetCore.Authorization*@
@model IEnumerable<StoreCursoMod165.Models.Category>


<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(category => category.Name).Titled("Name");
            columns.Add(category => category.Description).Titled("Description");


            columns.Add(category =>
              Html.ActionLink("Edit", "Edit", new { id = category.ID }, new { @class = "btn btn-primary" }));
            columns.Add(category =>
                Html.ActionLink("Delete", "Delete", new { id = category.ID }, new { @class = "btn btn-primary" }));

        })
        .Filterable()
        .Sortable()

)