@model StoreCursoMod165.Models.Order

<h1>@SharedLocalizer["Create"]</h1>

<h4>@SharedLocalizer["Order"]</h4>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <partial name="Shared/_form" />

            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
