@model StoreCursoMod165.Models.Order

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@SharedLocalizer["Order Processed -> To Sent"]</h4>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="EditProcessed">
            <partial name="Shared/_formEdits" />

            <div class="form-group">
                
                <input type="submit" value=@SharedLocalizer["Save"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
