@model StoreCursoMod165.Models.Order

<h1>Edit</h1>

<h4> Edit Order</h4>

<h4>Ordered -> To In Progress</h4>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <partial name="Shared/_formEdits" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
